<!-- redendent part of the code -->
<footer id="foot">
  <div id="wrapperfoot">
    <div><p>&#169;All Rights Reserved</p></div>
    <div id="div" style="text-align: end">
      <a href="/users/profile" id="linkop">Profile</a>
      <a href="/" id="linkop">Home</a>
    </div>
  </div>
</footer>
