<header class="head">
    <p class="p"><a href="/" style="text-decoration:none;color:white"><> Codeial</a></p>

    <ul style="list-style-type: none" class="ul">
        <% if(locals.user){ %> 
          <li>
              <a href="/users/profile" class="li"><%= user.name %></a>
          </li>  
          <li>
              <a href="/users/signout" class="li">Sign Out</a>
          </li>
      <%}else {%> 
      
          <li>
              <a href="/users/signup" class="li">Sign-up</a>
          </li>
          
          <li>
              <a href="/users/signin" class="li">Sign in</a>
          </li> 
      <%}%>
    </ul>
      
</header>