
<h1 style="text-align: center">This Is <%= title %></h1>
<section id="feed-posts">
  <h4>POSTS</h4>
  <form action="/posts/create" id="new-post-form" method="POST">
    <textarea
      name="content"
      cols="30"
      rows="3"
      placholder="Type here.."
    ></textarea>
    <input type="submit" value="post" />
  </form>
</section>

<div id="posts-list-container">
  <% if(locals.user){%>

    <ul>
      <% for(post of posts){ %>
          
      <li>
          <h1>
              <%= post.content %>
              <br>
              <small>
                <%= post.user.name%>
              </small>
              <!--insted of fetch just the id of the user what if we fetch the entire user along with all of its feilds -->
              <!-- we willl take the help of mongoose populate for this -->
          </h1>
          
      </li>
          
      <%} %>
  </ul>
  
  <%}%>

</div>



  </ul>
</div>


<!-- There are two objectid is is of the document and the another is the objectif od the user who has created this object -->


