
<link rel="stylesheet" href="/css/home.css">
<h1 style="text-align: center">This Is <%= title %></h1>
<div id="home-container">

    <section id="feed-posts">
        <% if(locals.user){ %>
        <h4>Posts</h4>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3" placeholder="Type Here..." required></textarea>
            <input type="submit" value="Post">
        </form>
        <% } %>
    
        <div id="posts-list-container">
            <ul>
                <% for(post of posts){ %>
                    <!-- For posts, partialls been put into the _post.ejs -->
                    <%- include('_post'); %>
                <%} %>
            </ul>
        </div>
    </section>
    
    <section id="user-friends">
        <h4>Friends</h4>
        <!-- For users, partialls been put into the _users.ejs -->
        <% for(u of all_users){%>
            <p>
                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            </p>
            
        <%}%>
    </section>



</div>
<!-- Since we have already defined that all the static files is been present in the assests folder therefore here we 
will not use ../assests and just /js/home_post.js 
Here below file overrides the below mentioned  -->

<script src="/js/home_post.js"></script>


