    <link rel="stylesheet" href="/codeial/assets/css/user_profile.css">
    <!-- <%- include('_header'); %> -->
     <p>HEY THIS IS ME FROM THE PROFILE
     NAME:<%= user.name%>
     EMAIL:<%= user.email %>
    </p>
     <!-- <%- include('_footer'); %> -->
