<h3>Please SIGN-IN</h3>
<form action="/users/create-session" method="POST" >
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" placeholder="PLease Entre Your Email" required>
        <hr>
        <label for="password">PassWord</label><br>
        <input type="password" name="password" id="password" placeholder=" PassWord" required>
        <hr>
        <input type="submit" value="SIGNIN">
</form>

<p>
        <a href="/users/auth/google">Google Sign In/Sign Up</a>
</p>