<!-- The formating of the mail should be done in tabular manner to prevent the deformastion of the mail -->
<div>
    <p>Hi!! <%=comment.user.name %></p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %></strong> just got published on codeial</p>
    <br>
    <br>
    <bold>THANKS!!</bold>
    
</div>
