#foot{
    background-color:rgb(102, 101, 101);
    display: block;
    #wrapperfoot{
        display: flex;
        flex-direction: row;
        justify-content: space-;
        align-items: center;


        p{
            color: white;
        }

        #div{
            margin-left: 100px;
            #linkop{
                color: white;
                text-decoration: none;
                margin-right: 10px;
            }
        }

    }
}